{%extends "flights/layout.html"%}

{%block title%}
flight
{%endblock%}

{%block body%}
<ul>
    <li>flight_id:{{flight.id}}</li>
    <li>origin: {{flight.origin}}</li>
    <li>destination:{{flight.destination}}</li>
    <li>duration:{{flight.duration}}</li>
</ul>

<h1>Passengers</h1>
<ul>
    {%for passenger in passengers%}
    <li>{{passenger}}</li>
    {%empty%}
    <h4>no passengers</h4>
    {%endfor%}
</ul>
    <h3>Add passenger</h3>
    <form action="{%url 'book' flight.id%}" method="post"></form>
    {%csrf_tocken%}
    <select name="passenger">
        {%for passenger in none_passengers%}
        <option value="{{passenger.id}}">{{passenger}}</option>
        {%endfor%}
    </select>
    <input type="submit">

<a Href="{%url 'index'%}">Home</a>
{%endblock%}
